._2rvp{background-image:url(/rsrc.php/v3/yU/r/87BbiuM8sQD.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;cursor:pointer;display:block;height:20px;width:20px}

#bootloader_nkbzx{height:42px;}.bootloader_nkbzx{display:block!important;}