@import 'variables';

@import 'general';
@import 'hero';
@import 'header';
@import 'nav';
@import 'sections';
@import 'footer';

.btn-action{
  background: none;
  padding: 12px 0px;
  width: 200px;
  border: 2px solid #333;
  text-transform: uppercase;
  font-size: 14px;
  outline: none !important;
  transition: 0.4s;

  i{
    animation: none;
  }

  &:hover{
    background: #333;
    transition: 0.3s;
    width: 230px;
    color: #fff;
    box-shadow: 1px 8px 17px 5px rgba(0,0,0,0.2);

    i{
      display: inline-block !important;
      -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.story-card{
  padding:  10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;

  img{
    opacity: 0.7;
    transition: inherit;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .read-more{
    // margin-right: auto;
    float:right;
    margin-top: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid $accent-color;
    opacity: 0;
    transition: 0.3s
  }


  .story-count{
    font-weight: 600;
    color: rgb(85, 124, 233);
  }

  &:hover{

    .read-more{
      opacity: 1;
    }

    img{
      opacity: 1;
      transition: inherit;
    }

    transition: 0.3s all;
  }
}


.article-header-image{
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 30px;
}

.story-thread{
  a{
    text-decoration: none !important;
    color:unset;
    width: unset;
  }
}

.pre-format{
  white-space: pre-wrap;
}

@media(width: 768px){
  .about-content{
    width: 100% !important;
    flex: 100% !important;
    max-width: 100%;
  }
}

@media(max-width: 700px){

  .service-item{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     align-content: center;

     .service-title{
       margin-left: 0px !important;
     }
  }

  .service-description{
    margin-left: 0px !important;
    display: flex !important;
     flex-direction: column;
     align-items: center;
     justify-content: center !important;
     align-content: center;

  }

  .service-icon{
    display: none;
  }
  .service-description{
    width: 100% !important;
  }

  .pic{
    width:100% !important;
  }
}